<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <strong><a class="navbar-brand" href="{% url 'index' %}">JAS Clothing Shop</a></strong>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" aria-current="page" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Men-Clothing' %}">Mens Clothing</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Women Clothing' %}">Womens Clothing</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Kids-Clothing' %}">Kids Clothing</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <!-- Profile Dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" aria-current="page" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'update_user' %}">User Profile</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'update_info' %}">User Info</a></li>
                    </ul>
                </li>

                {% if user.is_superuser %}
                <!--Orders Dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" aria-current="page" data-bs-toggle="dropdown" aria-expanded="false">Oders</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'shipped_page' %}">Shipped Orders</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'unshipped_page' %}">Un-Shipped Orders</a></li>
                    </ul>
                </li>
                {% endif %}

                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
                <div class="card-body">
                    <form method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="col-md-7 offset-md-4 ">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search here" name="searched">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary" style="margin-left: 4px;">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a>
            </form>
        </div>
    </div>
</nav>